version: "3"
services: 
  node-app:
    build:
      context: .
      args: 
        NODE_ENV: development
    image: node-app:1-dev0.1
    volumes:
      - ./:/opt/node_mongo_app
      - /opt/node_mongo_app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev